<h2>Welcome to the Man Pages Directory</h2>
<hr/>

<h3>Search</h3>
<form action='/search_for' method='POST'>
  <input type='text' placeholder='message' name='message' />
  <input type='submit' />
</form>




<div class="links">
  <div class="child1"> 
    <h2><a href="/cd">cd</a>
  </div>
  <div class="child2"> 
    <h2><a href="/ls">ls</a></h2>
  </div>
  <div class="child3"> 
    <h2><a href="/cp">cp</a></h2>
  </div>
  <div class="child4"> 
    <h2><a href="/mkdir">mkdir</a></h2>
  </div>
  <div class="child5"> 
    <h2><a href="/rm">rm</a></h2>
  </div>
  <div class="child6"> 
    <h2><a href="/mv">mv</a></h2>
  </div>    
</div>